on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  main:
    runs-on: ubuntu-latest

    steps:
      - uses: cachix/install-nix-action@v23
      - uses: cachix/cachix-action@v14
        with:
          name: ento-git-to-notion-ci
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
          extraPullNames: devenv
      - run: nix profile install nixpkgs#devenv
      - uses: actions/checkout@v4
      - run: devenv shell -- npm ci
      - run: devenv test
